body {
    margin: 0;
    background: rgb(255, 255, 255);
    
  }

img {
    position: fixed;
    background-size: cover;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    
}  

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
  }

a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: rgba(0,0,0,0.5);
    padding: .5rem;
    transition: .6s background;
}

a:hover {
    background:rgba(0,0,0,0.9);
  }

.varian {
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 100;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 2rem;
    width: 40%;
    margin: 2rem;
    float: right;
    font-size: 1.2rem;
}